body, html {
  height: 100%;
}


.brand-logo{
  left: 20%;
  font-family: 'Courgette', cursive;
}

#itag {
line-height: 65px;


}
#form {
  width: 25%;
}
h4 {
  text-align: center;
  font-family: 'Courgette', cursive;
}
#email {
  widows: 100px;
  
}

#first-name {
  width: 50%;
  padding: 0px;
  
}
#last-name {
  width: 50%;
  padding: 0px;
}
#datepicker {
  width: 100%;
  padding: 0px;
}

/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */

main {
  flex: 1 0 auto;
}

.page-footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  

}